<section class="summer-house">
        <header>
            <h1>
                <span class="thin">Summer</span>
                <span class="fat">House</span>
            </h1>
            <div class="gallery-box">
                <div class="box carousel">All Photos</div>
                <div class="box 360">Watch in 360<span>&#176;</span></div>
            </div>
        </header>
    <main>
        <article class="short-overview">
            <h3>Short overview</h3>
            <div class="overview">
                <p>
                    <span>Year:</span>
                    <br>
                    <span>2018</span>
                </p>
                <p>
                    <span>Location:</span>
                    <br>
                    <span>Outside Kyiv</span>
                </p>
                <p>
                    <span>Area:</span>
                    <br>
                    <span>350 m2</span>
                </p>
            </div>
        </article>
        <article class="team">
                <div class="team-box">
                    <h3>Team</h3>
                    <ul>
                        <li>Artem Bondar</li>
                        <li>Nikolay Gip</li>
                        <li>Anton Removskyi</li>
                    </ul>
                </div>
                <div class="team-img">
                    <img [src]="teamImgUrl" alt="">
                </div>
        </article>
        <article class="rest">
            <div class="img-box">
                <img [src]="restImgUrl" alt="">
            </div>
            <div class="rest-text">
                <h3>Отдых.</h3>
                <p>Отдых на природе. Что можно представить себе, думая о нем?
                    Сегодня, будучи погруженными в нескончаемый поток информации, машин, событий и локаций, все, о чем
                    мечтает человек — это тишина. Приятный запах хвои. Прохладу травы под ногами.
                    Но главное - это тишина, спокойствие, уют.
                    <br>
                    <br>
                    Этот проект как раз об этом. Он позволяет обычному трудяге вырваться из сумбура современности,
                    окунуться в простоту и минимализм загородного досуга.
                </p>
            </div>
        </article>
        <article class="nature">
            <div class="img-box">
                <img [src]="natureImgUrl" alt="">
            </div>
            <div class="nature-text">
                <div class="left">
                    <h3>Природа</h3>
                    <p>Здесь есть все и нет ничего. Небольшие домики, расположены друг от друга на достаточном расстоянии,
                        чтобы не чувствовать себя зажатым, но и не ощущать одиночество изоляции. Они достаточно велики для
                        того, что бы вместить всю семью, но вполне невелики, чтоб не терять ощущение уюта.</p>
                </div>
                <div class="right">
                    <p>Их необычная, агрессивно угловатая форма, смягчается теплотой отделки фасада, в роли которой
                        выступает сосна, таким образом архитектура постройки идеально вписывается в ландшафт.
                    </p>
                </div>
            </div>
        </article>
        <article class="air">
            <div class="img-box">
                <div><img [src]="airImgUrl1" alt=""></div>
                <div><img [src]="airImgUrl2" alt=""></div>
            </div>
            <div class="air-text">
                <h3>Воздух.</h3>
                <p>Большие панорамные окна созданы и тщательно продуманы для того, чтобы впустить больше воздуха в
                    комнаты и открыть прекрасный вид на красоты окружающей природы, а наклоненная под углом крыша
                    позволяет расширить внутреннее пространство общей комнаты, не придавая, тем не менее, ощущения
                    громоздкости внешнему виду и оставляя дальние зоны домиков, где расположены спальни, в более
                    камерном, уютном состоянии.
                </p>
            </div>
        </article>
    </main>
    <footer>
        <button (click)="_location.back()">
            <img [src]="backToImgUrl" alt="">
        </button>
    </footer>
</section>
