.summer-house {
  background-color: #1B1E20;

  header {
    min-height: 810px;
    background: url('../../../assets/images/summer-house/summer-house-header.png') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 175px;

    h1 {
      font-size: 124px;
      line-height: 100%;
      letter-spacing: 0.04em;
      color: #F2F2F2;
      margin: 0 0 58px 0;

      .thin {
        font-weight: 100;
        margin-right: 24px;
      }
    }

    .gallery-box {
      color: #FFFFFF;
      display: flex;
      flex-direction: row;
      align-items: center;

      .box {
        width: 205px;
        height: 65px;
        border: 1px solid #FFFFFF;
        padding: 0 24px;
        border-radius: 3px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
        }

        &:nth-child(1) {
          margin-right: 64px;
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 160px;
    article {
      width: 100%;
      max-width: 1310px;
      margin: 0 auto;
      h3 {
        font: 64px 'TT Norms', sans-serif;
        color: #FFFFFF;
        margin: 0 0 60px 0;
        font-weight: bold;
      }
      p {
        font: 24px 'TT Norms', sans-serif;
        margin: 0;
        line-height: 140%;
        letter-spacing: 0.08em;
        color: #FFFFFF;
        font-weight: 300;
      }
    }

    article.short-overview {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 115px;

      .overview {
        font-size: 24px;
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 540px;

        p {
          span {
            display: inline-block;

            &:nth-child(1) {
              font-weight: 100;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
    article.team {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 160px;
      .team-box {
        padding-top: 74px;
        ul {
          list-style-type: none;
          padding: 0;
          li {
            font-size: 24px;
            line-height: 1;
            letter-spacing: 0.04em;
            text-decoration-line: underline;
            color: #FFFFFF;
            margin-bottom: 48px;
            font-weight: 100;

            &:nth-child(3) {
              margin: none;
            }
          }
        }
      }
    }
    article.rest {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 116px;
      .rest-text {
        color: #FFFFFF;
        max-width: 460px;
      }
      .img-box {
        margin-right: 80px;
      }
    }
    article.nature {
      margin-bottom: 160px;
      .img-box {
        margin: 0 0 116px 0;
      }
      .nature-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        .left {
          margin: 0 100px 0 0px;
        }
      }
    }
  }
  article.air {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 160px;
    .img-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      margin: 0 0 80px 0;
    }
    .air-text {
      display: flex;
      flex-direction: row;
      h3 {
        margin-right: 80px;
      }
    }
  }
  footer {
    padding: 0 22px;

    button {
      width: 100%;
      background: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      margin-bottom: 30px;

      img {
        width: 100%;
      }
    }
  }
}
