<section class="mooring-interior">
    <header>
        <h1>
            <span class="thin">Mooring</span>
            <span class="fat">Interior</span>
        </h1>
        <div class="gallery-box">
            <div class="box carousel">All Photos</div>
            <div class="box 360">Watch in 360<span>&#176;</span></div>
        </div>
    </header>
    <main>
        <article class="short-overview">
            <h3>Short overview</h3>
            <div class="overview">
                <p>
                    <span>Year:</span>
                    <br>
                    <span>2018</span>
                </p>
                <p>
                    <span>Location:</span>
                    <br>
                    <span>Outside Kyiv</span>
                </p>
                <p>
                    <span>Area:</span>
                    <br>
                    <span>350 m2</span>
                </p>
            </div>
        </article>
        <article class="team">
            <div class="team-box">
                <h3>Team</h3>
                <ul>
                    <li>Artem Bondar</li>
                    <li>Nikolay Gip</li>
                    <li>Anton Removskyi</li>
                </ul>
            </div>
            <div class="team-img">
                <img [src]="teamImgUrl" alt="">
            </div>
        </article>
        <article class="difference">
            <div class="img-box">
                <img [src]="diffImgUrl" alt="">
            </div>
            <div class="diff-text">
                <h3>Переменчивость.</h3>
                <p>Дизайн-проект интерьера данного дома олицетворяет переменчивость тенденций на
                    примере понятия "уюта" и того, каким его видит современный человек. на первый взгляд,
                    этот дом, окруженный сосновым бором, с его темным интерьером, вызывает ощущение
                    аскетичности и закрытости.
                </p>
            </div>
        </article>
        <article class="see">
            <div class="img-box">
                <img [src]="seeImgUrl1" alt="">
            </div>
            <div class="see-text">
                <h3>Расмотри.</h3>
                <p>Но стоит рассмотреть его в комплексе, и в комбинации фактурных материалов и
                приглушенного света начинают выделятся большие открытые зоны</p>
                <p>обеденная зона напротив камина, просторная гостиная с панорамными окнами,
                    открытая кухня с мраморным островом и барной стойкой.
                </p>
            </div>
            <div class="img-box">
                <img [src]="seeImgUrl2" alt="">
            </div>
        </article>
        <article class="feel">
            <div class="feel-text">
                <h3>Чувствуй.</h3>
                <p>Это прослеживается и в индивидуальных помещениях, как спальня и ванная комната - оба помещения
                    просторные и воздушные, несмотря на грубые материалы в отделке такие, как камень и дерево.
                    Уют этого дома нужно понять и почувствовать, так как он выходит за рамки привычного, но в то
                    же время вписывается в предпочтения современного человека.
                </p>
            </div>
            <div class="img-box">
                <img [src]="feelImgUrl" alt="">
            </div>
        </article>
    </main>
    <footer>
        <button (click)="_location.back()">
            <img [src]="backToImgUrl" alt="">
        </button>
    </footer>
</section>
