<section class="about">
    <header>
        <div class="title">
            <span class="about">About</span>
            <span class="quader">Quader</span>
        </div>
        <div class="logo-background">
            <img [src]="headerImgUrl" alt="">
        </div>
    </header>

    <article class="architecture" id="expertise">
        <div class="architecture-header">
            <h3>Архитектура:</h3>
            <p>Дом —  место силы, созданное специально для вас с учетом каждой детали и требования.</p>
            <p>От проекта до реализации вы будете наблюдать за “рождением” вашего особенного пространства.</p>
        </div>
        <div class="architecture-body">
            <img [src]="archImgUrl" alt="">
        </div>
        <div class="architecture-footer">
            <ul>
                <li>
                    <span>13</span><span>projects</span>
                </li>
                <li>
                    <span>8</span><span>clients</span>
                </li>
                <li>
                    <span>3</span><span>awards</span>
                </li>
            </ul>
        </div>
    </article>

    <article class="interior">
        <div class="interior-header">
            <h3>Интерьер:</h3>
            <p>Место, куда хочется возвращаться каждый вечер. Где хочется проводить каждое субботнее утро</p>
            <p>Интерьер, который создаётся — это вы, ваше отражение.</p>
        </div>
        <div class="interior-body">
            <img [src]="interiorImgUrl" alt="">
        </div>
        <div class="interior-footer">
            <ul>
                <li>
                    <span>13</span><span>projects</span>
                </li>
                <li>
                    <span>8</span><span>clients</span>
                </li>
                <li>
                    <span>3</span><span>awards</span>
                </li>
            </ul>
        </div>
    </article>

    <article id="character" class="character">
        <div class="character-title-box">
            <h3>Характер:</h3>
        </div>
        <div class="character-description-box">
            <p>Quader architecture — команда, которая не просто знает толк в своём деле, но и показывает это
                достойным уровнем работы.
                <br>
                <br>
                Мы настоящие, не лишенные юмора, личной жизни и хобби.
                Мы увлекаемся различными вещами: от кулинарии до экстремальных видов спорта, — поэтому начиная
                от проекта и заканчивая его реализацией, мы создаем объекты, которые наполнены жизнью.
                <br>
                <br>
                Группа архитекторов и проектировщиков берет на себя все заботы: от создания концепции до ее реализации.
                Индивидуальный подход к каждой детали поможет реализовать все мечты и желания,
                не упуская главного - функциональности и надежности.
                <br>
                <br>
                Стоимость услуги договорная и зависит от масштаба проекта и наличия материалов.
                <br>
                <br>
                Время перемен — уже сейчас.</p>
        </div>
    </article>

    <article class="people" id="team">
        <div class="people-title-box"><h3>Люди:</h3></div>
        <div class="people-description-box">
            <ul>
                <li>
                    <img [src]="aboutFaceImgUrl" alt="">
                    <h3>Артем</h3>
                    <p>“ Архитекторы не спят, потому что когда засыпает архитектор — архитектор просыпается в прорабе “</p>
                </li>
                <li>
                    <img [src]="aboutFaceImgUrl" alt="">
                    <h3>Коля</h3>
                    <p>“ Архитектора, который будет проектировать дом, нужно выбирать так же скрупулезно, как и жену, которая там будет жить “</p>
                </li>
                <li>
                    <img [src]="aboutFaceImgUrl" alt="">
                    <h3>Антон</h3>
                    <p>“ Работа не волк.Вообще, ничто не волк, кроме самого волка “</p>
                </li>
                <li>
                    <img [src]="aboutFaceImgUrl" alt="">
                    <h3>Ксюша</h3>
                    <p>“ Тут должна быть цитата про работу, но я работаю “</p>
                </li>
            </ul>
        </div>
    </article>

    <div class="quader logo"></div>

    <div class="menu-box">
        <div class="menu-wrapper">
            <button type="button" class="menu">
                <span class="long-line"></span>
                <span class="short-line"></span>
            </button>
        </div>

        <div class="lang-switcher">
            <button>RU</button>
        </div>
    </div>



</section>
