<header>
    <div class="title"></div>
    <div class="logo-background"></div>
</header>

<article class="architecture">
    <div class="architecture-header"></div>
    <div class="architecture-body"></div>
    <div class="architecture-footer"></div>
</article>

<article class="interior">
    <div class="interior-header"></div>
    <div class="interior-body"></div>
    <div class="interior-footer"></div>
</article>

<article class="character">
    <div class="character-title-box"></div>
    <div class="character-description-box"></div>
</article>

<article class="people">
    <div class="people-title-box"></div>
    <div class="people-description-box"></div>
</article>
