<section class="stone-house">
    <header>
        <h1>
            <span class="thin">Stone</span>
            <span class="fat">House</span>
        </h1>
        <div class="gallery-box">
            <div class="box carousel">All Photos</div>
            <!-- <div class="box 360">Watch in 360<span>&#176;</span></div> -->
        </div>
    </header>
    <main>
        <article class="short-over-view">
            <h3>Short overview</h3>
            <div class="overview">
                <p>
                    <span>Year:</span>
                    <br>
                    <span>2018</span>
                </p>
                <p>
                    <span>Location:</span>
                    <br>
                    <span>Outside Kyiv</span>
                </p>
                <p>
                    <span>Area:</span>
                    <br>
                    <span>350 m2</span>
                </p>
            </div>
        </article>

        <article class="subject">
            <div class="team">
                <div class="team-box">
                    <h3>Team</h3>
                    <ul>
                        <li>Artem Bondar</li>
                        <li>Nikolay Gip</li>
                        <li>Anton Removskyi</li>
                    </ul>
                </div>
                <div class="team-img">
                    <img [src]="teamImgUrl" alt="">
                </div>
            </div>
            <div class="style">
                <div class="style-img">
                    <img [src]="styleImgUrl1" alt="">
                    <img [src]="styleImgUrl2" alt="">
                </div>
                <div class="style-box">
                    <h3>Стиль.</h3>
                    <div class="style-text">
                        <p>
                            Основная идея архитектуры в данном проекте - совмещение строгости с выразительностью форм,
                            что позволяет эффектно выделить здание из окружающей среды.
                        </p>
                    </div>
                </div>
            </div>
            <div class="space">
                <div class="space-text">
                    <h3>Простор.</h3>
                    <div class="style-text">
                        <p>
                            Большие панорамные окна, открытое пространство террасы, выступающие объемы — все это
                            отражает индивидуальность жителей этого дома, которые стремятся к выразительным и
                            функциональным проектным решениям.
                        </p>
                    </div>
                </div>
                <div class="space-img">
                    <img [src]="spaceImgUrl1" alt="">
                    <img [src]="spaceImgUrl2" alt="">
                </div>
            </div>
            <div class="design">
                <div class="title">
                    <h3>Дизайн.</h3>
                </div>
                <div class="design-text">
                    <p>
                        Монохромная палитра цветов и рукотворные материалы идеально проявляют себя именно в природном
                        окружении, выделяет геометрию здания и его пространственную структуру.
                    </p>
                    <p>
                        В то же время, отделка фасадов первого этажа выполнена в черном сланце, который объединяет
                        инородную форму дома и естественный ландшафт.
                    </p>
                </div>
            </div>
        </article>
    </main>
    <footer>
        <button (click)="_location.back()">
            <img [src]="backToImgUrl" alt="">
        </button>
    </footer>
</section>
