<section>
    <div class='animation-wrapper'>
        <div [ngClass]="{'logo-box': !animateBox, 'logo-box animate': animateBox}">
            <div class="logo-flex-wrapper">
                <img [ngClass]="{'logo': !animateLogo, 'logo animate': animateLogo}" src="assets/images/logo_white.svg"  alt="Logo"/>
            </div>
        </div>
        <div class='quader-box'>
            <div class="title-flex-wrapper">
                <img [ngClass]="{'quader': !this.animateTitle, 'quader animate': this.animateTitle}" src="assets/images/uader_white.svg"  alt="Full Logo"/>
            </div>
        </div>
    </div>
</section>