@font-face {
  font-family: 'TT Norms Regular';
  //src: url('../assets/fonts/TTNorms-Regular.ttf') format(Example: 'truetype' or 'opentype' depending on the file extension of your font);
  src: url('../assets/fonts/TTNorms-Regular.ttf') format('truetype');
}


// USAGE
body {
  font-family: 'TT Norms Regular', sans-serif!important;
}
