<section class="river-house">
    <header>
        <h1>
            <span class="thin">River</span>
            <span class="fat">House</span>
        </h1>
        <div class="gallery-box">
            <div class="box carousel">All Photos</div>
            <div class="box 360">Watch in 360<span>&#176;</span></div>
        </div>
    </header>
    <main>
        <article class="short-over-view">
            <h3>Short overview</h3>
            <div class="overview">
                <p>
                    <span>Year:</span>
                    <br>
                    <span>2018</span>
                </p>
                <p>
                    <span>Location:</span>
                    <br>
                    <span>Outside Kyiv</span>
                </p>
                <p>
                    <span>Area:</span>
                    <br>
                    <span>350 m2</span>
                </p>
            </div>
        </article>

        <article class="subject">
            <div class="team">
                <div class="team-box">
                    <h3>Team</h3>
                    <ul>
                        <li>Artem Bondar</li>
                        <li>Nikolay Gip</li>
                        <li>Anton Removskyi</li>
                    </ul>
                </div>
                <div class="team-img">
                    <img src="../../../assets/images/riverhouse-team-img.png" alt="">
                </div>
            </div>
            <div class="see">
                <div class="see-img">
                    <img src="../../../assets/images/river-house-see-img.png" alt="">
                </div>
                <div class="see-box">
                    <h3>Видишь.</h3>
                    <div class="see-text">
                        <p>
                            Окинув этот проект беглым взглядом, невольно вспоминаешь об аскетичности, маскулинности и спокойствии.
                            Присмотревшись, понимаешь, что у дома есть характер, есть цель и стиль.
                        </p>
                    </div>
                </div>
            </div>
            <div class="feel">
                <div class="feel-img">
                    <img src="../../../assets/images/river-house-feel-img.png" alt="">
                </div>
                <div class="feel-box">
                    <div class="feel-text">
                        <h3>Чувствуешь. </h3>
                        <p>Дом невероятно удачно вписан в окружающий ландшафт, настолько, что при всей своей грубости материалов и форм, он не пестрит и не перетягивает одеяло на себя. Он - это небольшая крепость среди необъятных просторов степей и лесов, место, где ты чувствуешь себя в безопасности. Обо всем этом говорит его архитектура.
                        </p>
                    </div>
                </div>
            </div>
            <div class="understand">
                    <div class="understand-img-box">
                        <img src="../../../assets/images/river-house-understand-top-img.png" alt="">
                        <img src="../../../assets/images/river-house-understand-bottom-img.png" alt="">
                    </div>
                    <div class="understand-text-box">
                        <h3>Понимаешь.</h3>
                        <p>
                            Начнем с того, что здание — есть часть холма, оно не возвышается над ландшафтом, а наоборот — его составляющая в прямом и переносном смысле.
                            <br>
                            <br>
                            Фасад дома обшит металлическими панелями, черными и терракотовыми, — как акцент.
                            Здание не имеет высоких оград, наоборот, оно открыто природе за счет панорамных окон и видовой площадки на втором этаже.
                        </p>
                    </div>
            </div>
        </article>
    </main>
    <footer>
        <button (click)="_location.back()">
            <img src="../../../assets/images/back-to-img.png" alt="">
        </button>
    </footer>
</section>
