<div class='menu-wrapper'>

    <div class="header-panel">
        <div class="logo-box"></div>

        <div class="theme-tumbler">
            <div class="sun"></div>
            <div class="moon"></div>
        </div>

        <div id="opened-menu" class="menu" (click)="hideMenuHandler()"></div>

    </div>

    <div class="projects-wrapper">
        <h2 class="title">Projects</h2>
        <ul>
            <li (click)="goTo('/river-house')"><span class="thin">River</span><span class="bold">House</span></li>
            <li><span class="thin">Stone</span><span class="bold">House</span></li>
            <li><span class="thin">Summer</span><span class="bold">House</span></li>
            <li><span class="thin">Zoloche</span><span class="bold">Interior</span></li>
            <li><span class="thin">Green Hills</span><span class="bold">Interior</span></li>
            <li><span class="thin">Mooring</span><span class="bold">Interior</span></li>
        </ul>
    </div>

    <div class="about-wrapper">
        <h2 class="title">About us</h2>
        <ul>
            <li>
                <span class="bold">Our expertise</span>
            </li>
            <li>
                <span class="bold">History</span>
            </li>
            <li>
                <span class="bold">Team</span>
            </li>
        </ul>
    </div>

    <div class="location-wrapper">
        <div class="location">
            <div class="city">
                <div class="icon"></div>
                <span class="context">Kyiv</span>
            </div>
            <div class="adress">
                <p>BC 'Horizon Park', 12 Amosova <br/> st., Kyiv, 03038</p>
            </div>
        </div>
        <div class="phone">
            <p class="title">Phone</p>
            <p class="context"><a href="tel:+38 095 221 72 32">+38 095 221 72 32</a></p>
        </div>
        <div class="email">
            <p class="title">E-mail</p>
            <p class="context"><a href="mailto:pr@quader.com">pr@quader.com</a></p>
        </div>
        <div class="get-in-touch">
            <span>Get in touch</span>
            <span class="plus">+</span>
        </div>
    </div>
</div>
